For this project I attempted to predict the salary of a data science job posting based on other factors in the description including the location, company, and whether certain key words appeared in the title. I scraped job listings from indeed.com in order to build out my data set. 

Below lets look at which cities had the most  salaried data science job postings on indeed.com:

In [2]:
%%html
<div class='tableauPlaceholder' id='viz1488383223157' style='position: relative'><noscript><a href='#'><img alt='Salaried Job Postings in Top Cities  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sa&#47;SalariedJobPostingsinTopCities&#47;Sheet3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='SalariedJobPostingsinTopCities&#47;Sheet3' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sa&#47;SalariedJobPostingsinTopCities&#47;Sheet3&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1488383223157');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

London had the most salaried job postings with 114. Now let's look at a map that shows US data science job postings, as well as information on the median salary for that city.

In [1]:
%%html
<div class='tableauPlaceholder' id='viz1488378236762' style='position: relative'><noscript><a href='#'><img alt='US Data Science Indeed Postings ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;US&#47;USDataSciencePostingsMap&#47;Sheet2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='USDataSciencePostingsMap&#47;Sheet2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;US&#47;USDataSciencePostingsMap&#47;Sheet2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1488378236762');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [3]:
%%html 
<table><tbody><tr><th>Word in Job Title</th><th align="center">Logistic Regression Coefficient</th><th align="center">Interpretation</th></tr><tr><td>'Manager' in the Job Title</td><td align="center">.00982</td><td align="center">Roughly 10% more likely to be above the median salary</td></tr><tr><td>"Senior" in the Job Title</td><td align="Senior" in the Job Title>.6213</td><td align="right">Roughly 86% more likely to be above the median salary</td></tr><tr><td>"Scientist" in the Job Title</td><td align="center">.3736</td><td align="right">Roughly 40% more likely to be above the median salary</td></tr></tbody></table>

The above table is the result of my logistic regression model used to predict whether to predict whether an individual listing would be above or below the median salary. 

To examine these features in particular I have taken out the location portion of the model.

In [41]:
import requests
import bs4
from bs4 import BeautifulSoup
import urllib
import pandas as pd
import re

In [12]:
#defining a function to grab the elements from the scaper (british version). 
dfbritish = pd.DataFrame(columns=["title","location","company","salary"])

def find_all_british(soup_obj):
    for entry in soup_obj.find_all(name = 'div', attrs = {'class':' row result'}):
        try:
            location = entry.find(name='span',attrs = {'class':'location'}).text
        except: 
            location = 'NA'
        try:
            company = entry.find(name='span',attrs = {'class':'company'}).text
        except:
            company = 'NA'
        try:
            title = entry.find(name='h2', attrs = {'class':'jobtitle'}).text
        except:
            title = 'NA'
        try:
            salary = entry.find(name='td', attrs = {'class':'snip'}).find('nobr').renderContents()
        except:
            salary = 'NA'
        #add information to the data frame 
        dfbritish.loc[len(dfbritish)]=[title, location, company, salary]

In [14]:
#defining a function to grab the elements from the scaper. 
dflarge = pd.DataFrame(columns=["title","location","company","salary"])

def find_all_large(soup_obj):
    for entry in soup_obj.find_all(name = 'div', attrs = {'class':' row result'}):
        try:
            location = entry.find(name='span',attrs = {'class':'location'}).text
        except: 
            location = 'NA'
        try:
            company = entry.find(name='span',attrs = {'class':'company'}).text
        except:
            company = 'NA'
        try:
            title = entry.find(name='h2', attrs = {'class':'jobtitle'}).text
        except:
            title = 'NA'
        try:
            salary = entry.find(name='td', attrs = {'class':'snip'}).find('nobr').renderContents()
        except:
            salary = 'NA'
        #add information to the data frame 
        dflarge.loc[len(dflarge)]=[title, location, company, salary]

In [28]:
#defining a function to grab the elements from the scaper. 
dfmedium = pd.DataFrame(columns=["title","location","company","salary"])

def find_all_medium(soup_obj):
    for entry in soup_obj.find_all(name = 'div', attrs = {'class':' row result'}):
        try:
            location = entry.find(name='span',attrs = {'class':'location'}).text
        except: 
            location = 'NA'
        try:
            company = entry.find(name='span',attrs = {'class':'company'}).text
        except:
            company = 'NA'
        try:
            title = entry.find(name='h2', attrs = {'class':'jobtitle'}).text
        except:
            title = 'NA'
        try:
            salary = entry.find(name='td', attrs = {'class':'snip'}).find('nobr').renderContents()
        except:
            salary = 'NA'
        #add information to the data frame 
        dfmedium.loc[len(dfmedium)]=[title, location, company, salary]

In [23]:
#grabbing URLs for large cities 

max_results_per_city = 2000 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

large_results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles']):
    url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l="+city+"&start="
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        result = url_template+str(start)
        # Append to the full set of results
        large_results.append(result)
        pass

In [7]:
#for british cities 

max_results_per_city = 1000 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

british_results = []
british_city = []
for n,city in enumerate(set(['London','Birmingham','Manchester','Glasgow'])):
    url_template = "http://www.indeed.co.uk/jobs?q=data+scientist+%2420%2C000&l="+city+"&start="
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        result = url_template+str(start)
        # Append to the full set of results
        british_results.append(result)
        british_city.append(city)
        pass

In [25]:
#medium sized cities 

max_results_per_city = 500 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

medium_results = []

for city in set(['Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'Washington%2C+DC']):
    url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l="+city+"&start="
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        result = url_template+str(start)
        # Append to the full set of results
        medium_results.append(result)
        pass

In [30]:
#defining a function to grab certain salaries  

def grab_salary(df):
    return df[df.salary.str.contains('year') | df.salary.str.contains('month')]
#defining a function to clean columns

def clean_company(df):
    df['company'] = df.company.str.replace("\n","")
    return df

def clean_title(df):
    df['title'] = df.title.str.replace("\n","")
    return df

def clean_location_text(column):
    head, sep, tail = column.partition(',')
    return head

def clean_location(df):
    df['location'] = df['location'].apply(clean_location_text)
    return df

In [38]:
## YOUR CODE HERE

def convert_salary(column):
    if '−' in column:
        head, sep, tail = column.partition('−')
        match = re.search(r'[\d,]+', head)
        if match:
            head = match.group()
            head = float(head.replace(',',''))
        match = re.search(r'[\d,]+', tail)
        if match:
            tail = match.group()
            tail = float(tail.replace(',',''))
        return (head + tail)/2
    else:
        match = re.search(r'[\d,]+', column)
        return float(match.group().replace(',',''))

In [39]:
def clean_salary(df):
    df['salary'] = df['salary'].apply(convert_salary)
    return df

def convert_month(column):
    if column <= 25000:
        return (column * 12)
    else:
        return column
    
def convert_month_brit(column):
    if column <= 15000:
        return (column * 12)
    else:
        return column
    
def apply_brit_conversion(df):
    df['salary'] = df['salary'].apply(convert_month_brit)
    return df

def apply_m_conversion(df):
    df['salary'] = df['salary'].apply(convert_month)
    return df