In [3]:
import pandas as pd

### Grabbed this from https://github.com/JeffSackmann/tennis_atp

In [4]:
matches = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2015.csv')

In [33]:
matches.shape

(2958, 49)

In [5]:
#making a list of urls 
urls = []
for year in range(1969, 2017):
    url_template = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_'+str(year)+'.csv'
    urls.append(url_template)

In [6]:
##reading those urls and combining them into a dataframe to manipulate 

#I started by grabbing 1968 and then used a for loop to grab the other years 

#this took about 4 minutes to run. 

df_all = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1968.csv')
for year in urls:
    df = pd.read_csv(year)
    df_all = pd.concat([df_all,df])

In [17]:
##mostly playing on hard and clay courts 

df_all.surface.value_counts()

Hard      61743
Clay      58658
Carpet    19815
Grass     17853
188.0        36
183.0        29
185.0        25
190.0        20
193.0        18
180.0        17
196.0        11
178.0        10
175.0         8
198.0         4
203.0         3
181.0         3
206.0         2
208.0         2
173.0         2
172.0         2
163.0         2
Name: surface, dtype: int64

In [1]:
##checking out the data - these are wimbledon finals 

df_all[(df_all.tourney_name == 'Wimbledon') & (df_all['round'] =='F' ) ].head(2)

NameError: name 'df_all' is not defined

In [8]:
##grabbing only grand-slam tournaments 

all_GS = df_all[(df_all.tourney_name == 'US Open')|(df_all.tourney_name == 'Wimbledon')|(df_all.tourney_name == 'Australian Open')|(df_all.tourney_name == 'Roland Garros')]

In [9]:
##grabbing all finals 

GS_F = all_GS[all_GS['round']=='F']

In [10]:
##grabbing GS finals where both players are above 30 

GS_F30 = GS_F[(GS_F.winner_age >= 30.0) & (GS_F.loser_age >= 30.0)]

# Results below

In [11]:
##yep looks like the 1969 Aussie and French both won by Rod Laver, 1972 Aussie, and 2002 U.S. Open

GS_F30

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
368,1969-580,Australian Open,Grass,64,G,19690120.0,47.0,100029,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929,1969-520,Roland Garros,Clay,128,G,19690528.0,127.0,100029,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,1972-580,Australian Open,Grass,64,G,19711226.0,48.0,100016,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2612,2002-560,US Open,Hard,128,G,20020826.0,127.0,101948,17.0,NaN,...,12.0,7.0,4.0,125.0,82.0,55.0,23.0,20.0,4.0,8.0

In [12]:
print('30+ Winners:', GS_F30.winner_name.value_counts())
print('30+ Losers:', GS_F30.loser_name.value_counts())

('30+ Winners:', Rod Laver       2
Ken Rosewall    1
Pete Sampras    1
Name: winner_name, dtype: int64)
('30+ Losers:', Andre Agassi     1
Mal Anderson     1
Ken Rosewall     1
Andres Gimeno    1
Name: loser_name, dtype: int64)

In [20]:
print('Championships:', GS_F.winner_name.value_counts())
print('Runners-up:', GS_F.loser_name.value_counts())

('Championships:', Roger Federer            17
Rafael Nadal             14
Pete Sampras             14
Bjorn Borg               11
Novak Djokovic           10
Ivan Lendl                8
Andre Agassi              8
Jimmy Connors             8
John Mcenroe              7
Mats Wilander             7
Boris Becker              6
Stefan Edberg             6
Rod Laver                 5
John Newcombe             5
Ken Rosewall              4
Jim Courier               4
Guillermo Vilas           4
Jan Kodes                 3
Arthur Ashe               3
Gustavo Kuerten           3
Stan Smith                2
Marat Safin               2
Sergi Bruguera            2
Patrick Rafter            2
Stanislas Wawrinka        2
Johan Kriek               2
Andy Murray               2
Ilie Nastase              2
Yevgeny Kafelnikov        2
Lleyton Hewitt            2
Petr Korda                1
Brian Teacher             1
Albert Costa              1
Manuel Orantes            1
Thomas Johansson          1
Carlos Moya               1
Pat Cash                  1
Adriano Panatta           1
Andy Roddick              1
Marin Cilic               1
Thomas Muster             1
Michael Chang             1
Roscoe Tanner             1
Juan Martin Del Potro     1
Richard Krajicek          1
Gaston Gaudio             1
Yannick Noah              1
Mark Edmondson            1
Goran Ivanisevic          1
Andres Gimeno             1
Juan Carlos Ferrero       1
Andres Gomez              1
Michael Stich             1
Name: winner_name, dtype: int64)
('Runners-up:', Ivan Lendl             11
Roger Federer          10
Novak Djokovic          8
Jimmy Connors           7
Andre Agassi            7
Andy Murray             6
Rafael Nadal            6
Stefan Edberg           5
Bjorn Borg              5
Mats Wilander           4
Boris Becker            4
John Mcenroe            4
Andy Roddick            4
Guillermo Vilas         4
Ken Rosewall            4
Pete Sampras            4
Tony Roche              3
Goran Ivanisevic        3
Michael Chang           3
Ilie Nastase            3
Jim Courier             3
Juan Carlos Ferrero     2
Pat Cash                2
Vitas Gerulaitis        2
Kevin Curren            2
Jan Kodes               2
Miloslav Mecir          2
Marat Safin             2
Patrick Rafter          2
Alex Corretja           2
                       ..
Andres Gimeno           1
Marcelo Rios            1
Guillermo Coria         1
Tom Okker               1
Mariano Puerta          1
Magnus Norman           1
Kim Warwick             1
Phil Dent               1
Arnaud Clement          1
Roscoe Tanner           1
Patrick Proisy          1
Mikael Pernfors         1
Thomas Enqvist          1
Onny Parun              1
Sergi Bruguera          1
Fernando Gonzalez       1
Marcos Baghdatis        1
Alberto Berasategui     1
Rod Laver               1
Victor Pecci            1
Harold Solomon          1
Brian Gottfried         1
Zeljko Franulovic       1
Alex Metreveli          1
John Marks              1
Chris Lewis NZL         1
Mal Anderson            1
Andrei Medvedev         1
Nikola Pilic            1
Henri Leconte           1
Name: loser_name, dtype: int64)

In [15]:
#champions are slightly younger on average

print('Champions Age Stats:',GS_F.winner_age.describe())
print('Runner-up Age Stats:',GS_F.loser_age.describe())

('Champions Age Stats:', count    190.000000
mean      25.045643
std        3.657551
min       17.264887
25%       22.368241
50%       24.740589
75%       27.085558
max       37.147159
Name: winner_age, dtype: float64)
('Runner-up Age Stats:', count    190.000000
mean      25.456565
std        3.600831
min       18.365503
25%       22.991786
50%       24.940452
75%       26.967146
max       39.819302
Name: loser_age, dtype: float64)

# Everything below here is me just playing with 2015 data

In [5]:
matches.dtypes

tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
winner_rank           float64
winner_rank_points    float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
loser_rank            float64
loser_rank_points     float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
dtype: object

In [14]:
##making a dataframe for just finals matches 

finals = matches[matches['round']=='F']

In [27]:
finals[finals.draw_size >= 100]

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
442,2015-540,Wimbledon,Grass,128,G,20150629,127,104925,1.0,NaN,...,7.0,14.0,3.0,141.0,94.0,70.0,23.0,22.0,6.0,10.0
1150,2015-560,US Open,Hard,128,G,20150831,127,104925,1.0,NaN,...,23.0,11.0,5.0,137.0,87.0,62.0,23.0,21.0,7.0,13.0
1556,2015-580,Australian Open,Hard,128,G,20150119,127,104925,1.0,NaN,...,12.0,10.0,3.0,118.0,77.0,50.0,14.0,19.0,7.0,16.0
2614,2015-520,Roland Garros,Clay,128,G,20150524,127,104527,8.0,NaN,...,10.0,6.0,0.0,128.0,83.0,52.0,24.0,19.0,11.0,15.0

In [16]:
##dataframe for finals matches where both players are over 30 

finals_both_30 = finals[(finals.winner_age >= 30.0) & (finals.loser_age >= 30.0)]

In [17]:
finals_both_30

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
469,2015-7161,Quito,Clay,28,A,20150202,27,103607,8.0,NaN,...,6.0,19.0,4.0,112.0,77.0,54.0,19.0,16.0,4.0,7.0
551,2015-6003,Kuala Lumpur,Hard,28,A,20150928,27,103970,1.0,NaN,...,2.0,7.0,6.0,82.0,55.0,37.0,11.0,12.0,8.0,11.0
992,2015-500,Halle,Grass,32,A,20150615,31,103819,1.0,NaN,...,4.0,1.0,1.0,84.0,52.0,34.0,18.0,11.0,4.0,5.0
1177,2015-6967,Shenzhen,Hard,28,A,20150928,27,104607,1.0,NaN,...,1.0,3.0,9.0,79.0,34.0,24.0,22.0,10.0,4.0,6.0
1328,2015-315,Newport,Grass,32,A,20150713,31,104330,NaN,NaN,...,4.0,19.0,4.0,108.0,73.0,63.0,20.0,18.0,1.0,1.0
1429,2015-319,Kitzbuhel,Clay,28,A,20150803,27,104259,6.0,NaN,...,4.0,2.0,5.0,73.0,40.0,29.0,15.0,12.0,4.0,8.0
1742,2015-2276,Zagreb,Hard,28,A,20150202,27,104198,3.0,NaN,...,2.0,4.0,1.0,60.0,29.0,19.0,20.0,10.0,3.0,5.0
1843,2015-6116,Atlanta,Hard,28,A,20150727,27,104545,1.0,NaN,...,0.0,1.0,2.0,54.0,28.0,19.0,12.0,9.0,1.0,4.0
2205,2015-341,Metz,Hard,28,A,20150921,27,104542,3.0,NaN,...,9.0,3.0,3.0,91.0,57.0,40.0,19.0,14.0,5.0,7.0

In [25]:
print('Winners:', finals_both_30.winner_name.value_counts())
print('Losers:', finals_both_30.loser_name.value_counts())

('Winners:', Roger Federer             1
David Ferrer              1
John Isner                1
Jo Wilfried Tsonga        1
Rajeev Ram                1
Philipp Kohlschreiber     1
Guillermo Garcia Lopez    1
Victor Estrella           1
Tomas Berdych             1
Name: winner_name, dtype: int64)
('Losers:', Feliciano Lopez           2
Andreas Seppi             2
Paul Henri Mathieu        1
Guillermo Garcia Lopez    1
Marcos Baghdatis          1
Gilles Simon              1
Ivo Karlovic              1
Name: loser_name, dtype: int64)